nip.provision.version={{versions.nip_provision}}
horizon.bus.version={{versions.horizon_bus}}
horizon.inspection.version={{versions.horizon_inspection}}
horizon.masterdata.version={{versions.horizon_masterdata}}
horizon.security.version={{versions.horizon_security}}
horizon.sicpatrace.simulator.version={{versions.simulator}}
horizon.webapp.version={{versions.ips_webapp}}
horizon.mobileapp.version={{versions.nip_mobile}}
horizon.bi.version={{versions.horizon_bi}}
