dn: cn=User
objectClass: posixGroup
objectClass: top
cn: User
structuralObjectClass: posixGroup
entryUUID: 36fc05ae-67f9-1030-9766-e118c09a214f
creatorsName: cn=Manager,dc=dms,dc=tt018,dc=lan
createTimestamp: 20110831084442Z
description: monitoring users
gidNumber: 1100
entryCSN: 20150806140157.456333Z#000000#000#000000
modifiersName: uid=Manager,ou=People,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20150806140157Z
