dn: dc=dms
dc: dms
objectClass: top
objectClass: domain
structuralObjectClass: domain
entryUUID: 18080452-4230-1030-8a16-d59019191424
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20110714064148Z
modifyTimestamp: 20110714064148Z
entryCSN: 20110714064148Z#000000#00#000000
