dn: ou=KVM
objectClass: top
objectClass: organizationalUnit
ou: KVM
structuralObjectClass: organizationalUnit
entryUUID: e19330d4-e10b-1034-8765-d9921bec25f2
creatorsName: uid=Manager,ou=People,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20150827133300Z
entryCSN: 20150827133300.936375Z#000000#000#000000
modifiersName: uid=Manager,ou=People,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20150827133300Z
