dn: ou=MonitoringGroups
objectClass: top
objectClass: organizationalUnit
ou: MonitoringGroups
structuralObjectClass: organizationalUnit
entryUUID: c7ce0b10-67f7-1030-9762-e118c09a214f
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20110831083426Z
entryCSN: 20110831083426Z#000000#00#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20110831083426Z
