dn: ou=OtherGroups
objectClass: top
objectClass: organizationalUnit
ou: OtherGroups
structuralObjectClass: organizationalUnit
entryUUID: aefd1fb2-4322-1030-916b-9389322228c6
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20110715113820Z
entryCSN: 20110715113820Z#000000#00#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20110715113820Z
