dn: ou=People
ou: People
objectClass: top
objectClass: organizationalUnit
structuralObjectClass: organizationalUnit
entryUUID: 5ecfb0f2-f3a1-102f-896d-835d8fa91a74
creatorsName: cn=Manager,dc={{ project }},dc=lan
createTimestamp: 20110405072338Z
entryCSN: 20110405072338Z#000002#00#000000
modifiersName: cn=Manager,dc={{ project }},dc=lan
modifyTimestamp: 20110405072338Z
