dn: ou=Roles
objectClass: top
objectClass: organizationalUnit
ou: Roles
structuralObjectClass: organizationalUnit
entryUUID: ea289c46-8472-1031-96f5-d93c6c90baec
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120827091122Z
entryCSN: 20120827091122.349024Z#000000#000#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20120827091122Z
