dn: ou=VPNGroups
objectClass: top
objectClass: organizationalUnit
ou: VPNGroups
structuralObjectClass: organizationalUnit
entryUUID: 6c0aa556-e81f-1030-8b25-f3446daf8b33
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120210104041Z
entryCSN: 20120210104041Z#000000#00#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20120210104041Z
