dn: ou=WebSQL
objectClass: top
objectClass: organizationalUnit
ou: WebSQL
structuralObjectClass: organizationalUnit
entryUUID: 5a590ad8-8472-1031-96f2-d93c6c90baec
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120827090721Z
entryCSN: 20120827090721.074517Z#000000#000#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20120827090721Z
