dn: uid=svc_vmware
objectClass: posixAccount
objectClass: top
objectClass: inetOrgPerson
gidNumber: 0
givenName: VMWare
sn: VMWare Service
uid: svc_vmware
homeDirectory: /dev/null
cn: svc_vmware
uidNumber: 44910
structuralObjectClass: inetOrgPerson
entryUUID: 33273322-d393-1034-8761-d9921bec25f2
creatorsName: uid=pburgisser,ou=People,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20150810100623Z
userPassword:: e1NIQX1hS1hPalBDUmZmL1dzbU1mY212NUx1bE5VUm89
entryCSN: 20150904072056.138238Z#000000#000#000000
modifiersName: uid=pburgisser,ou=People,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20150904072056Z
