#!/bin/bash
set -o errexit
ldapadd -x -D "cn=Manager,dc=nip,dc=sicpa-greenzone,dc=com" -w {{ provision.ldap.password }} -f /etc/openldap/base.ldif
ldapadd -x -D "cn=Manager,dc=nip,dc=sicpa-greenzone,dc=com" -w {{ provision.ldap.password }} -f /etc/openldap/ppolicy-default.ldif
/bin/touch /etc/openldap/import.done
