dn: cn={{ project }}-users
objectClass: posixGroup
objectClass: top
cn: {{ project }}-users
description: Default group for unix users
structuralObjectClass: posixGroup
entryUUID: 461d6bdc-0dcf-1031-9c36-490c81c8fe2e
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120329094241Z
gidNumber: 1000
entryCSN: 20120329094312Z#000000#00#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20120329094312Z
