dn: cn=MembershipManager
objectClass: organizationalRole
objectClass: simpleSecurityObject
cn: MembershipManager
description: Membership Manager
structuralObjectClass: organizationalRole
entryUUID: f7995a02-8524-1031-9702-d93c6c90baec
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120828062555Z
userPassword:: e1NIQX1PK3c3QUVyT1hJenozV3FyQjJOemhrUWpDT009
entryCSN: 20120828062628.098039Z#000000#000#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20120828062628Z
