dn: ou=Computers
objectClass: top
objectClass: organizationalUnit
ou: Computers
structuralObjectClass: organizationalUnit
entryUUID: f38fb364-8472-1031-96f7-d93c6c90baec
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120827091138Z
entryCSN: 20120827091138.124130Z#000000#000#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20120827091138Z
