dn: ou=ServiceUsers
objectClass: top
objectClass: organizationalUnit
ou: ServiceUsers
structuralObjectClass: organizationalUnit
entryUUID: e0eb20d2-d392-1034-8760-d9921bec25f2
creatorsName: uid=Manager,ou=People,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20150810100405Z
entryCSN: 20150810100405.614573Z#000000#000#000000
modifiersName: uid=Manager,ou=People,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20150810100405Z
