dn: ou=UnixGroups
ou: UnixGroups
objectClass: top
objectClass: organizationalUnit
structuralObjectClass: organizationalUnit
entryUUID: 5ecf65ac-f3a1-102f-896c-835d8fa91a74
creatorsName: cn=Manager,dc={{ project }},dc=lan
createTimestamp: 20110405072338Z
entryCSN: 20110405072338Z#000001#00#000000
modifiersName: cn=Manager,dc={{ project }},dc=lan
modifyTimestamp: 20110405072338Z
