[tcpout]
defaultGroup = default-autolb-group

[tcpout:default-autolb-group]
server = {{provision.splunk_ip}}:{{provision.splunk_port}}

[tcpout-server://{{provision.splunk_ip}}:{{provision.splunk_port}}]
