access to attrs=memberOf
    by dn.exact="cn=MembershipManager,dc=dms,dc={{ project }},dc=lan" write
    by * read

access to *
    by dn.exact="uid=lndabaneze,ou=People,dc=dms,dc={{ project }},dc=lan" write
    by dn.exact="uid=jraab,ou=People,dc=dms,dc={{ project }},dc=lan" write
    by * read

