dn: cn=all
objectClass: posixGroup
objectClass: top
cn: all
gidNumber: 50185
structuralObjectClass: posixGroup
entryUUID: 3916fc30-8473-1031-96f9-d93c6c90baec
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120827091334Z
memberUid: master1030.s003
memberUid: ARG - Prod
memberUid: ARG- Pre Prod
entryCSN: 20130607092900.422808Z#000000#000#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20130607092900Z
