dn: cn={{ project }}-db-admin
objectClass: posixGroup
objectClass: top
cn: {{ project }}-db-admin
gidNumber: 1003
description: Database administrators
structuralObjectClass: posixGroup
entryUUID: 9f7013e6-df90-1030-86fc-398a3ab60655
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120130131820Z
entryCSN: 20150806140503.303813Z#000000#000#000000
modifiersName: uid=jraab,ou=People,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20150806140503Z
