dn: cn={{ project }}-site-support
objectClass: posixGroup
objectClass: top
cn: {{ project }}-site-support
description: Site support technicians
structuralObjectClass: posixGroup
entryUUID: ea8f6b74-df90-1030-86ff-398a3ab60655
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120130132026Z
gidNumber: 1006
entryCSN: 20130607065753.179267Z#000000#000#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20130607065753Z
