dn: cn=VPN-Db
objectClass: posixGroup
objectClass: top
cn: VPN-Db
gidNumber: 55340
structuralObjectClass: posixGroup
entryUUID: 6b5ecf4e-020d-1031-9a06-c53c0d6c80a6
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120314103719Z
description: UTIL_MGMT + DB vlans
entryCSN: 20150805113619.450018Z#000000#000#000000
modifiersName: uid=dbriem,ou=People,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20150805113619Z
