database	ldif

overlay memberof

overlay auditlog
suffix dc=dms,dc={{ project }},dc=lan
rootdn cn=Manager,dc=dms,dc={{ project }},dc=lan
rootpw  {MD5}X03MO1qnZdYdgyfeuILPmQ==

auditlog	/var/log/openldap/ldap.dms.log
directory	"/var/lib/ldap/dms"
readonly	off
