dn: ou=ComputerGroups
objectClass: top
objectClass: organizationalUnit
ou: ComputerGroups
structuralObjectClass: organizationalUnit
entryUUID: efb59e34-8472-1031-96f6-d93c6c90baec
creatorsName: cn=Manager,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20120827091131Z
entryCSN: 20120827091131.661740Z#000000#000#000000
modifiersName: cn=Manager,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20120827091131Z
