dn: uid=svc_kvm
objectClass: posixAccount
objectClass: top
objectClass: inetOrgPerson
gidNumber: 0
givenName: VMWare
sn: VMWare Service
uid: svc_kvm
homeDirectory: /dev/null
cn: svc_vmware
uidNumber: 44910
structuralObjectClass: inetOrgPerson
entryUUID: 193ed21c-e0f4-1034-8762-d9921bec25f2
creatorsName: uid=pburgisser,ou=People,dc=dms,dc={{ project }},dc=lan
createTimestamp: 20150827104246Z
userPassword:: e1NIQX1XNnBoNU1tNVB6OEdnaVVMYlBnekczN21qOWc9
entryCSN: 20150827111957.878831Z#000000#000#000000
modifiersName: uid=pburgisser,ou=People,dc=dms,dc={{ project }},dc=lan
modifyTimestamp: 20150827111957Z
