##FLYWAY
flyway.schemas=bi
flyway.url=jdbc:postgresql://{{ provision.database_server | default('horizon-db.' + deploy_env + '.horizon.dev.sicpa.io') }}:5432/greenzone
flyway.user=greenzone_admin
flyway.password=greenzone


##TABLEAU
tableau.connection.db.host={{ provision.database_server | default('horizon-db.' + deploy_env + '.horizon.dev.sicpa.io') }}
tableau.connection.db.port=5432
tableau.connection.db.username=greenzone_admin
tableau.connection.db.password=greenzone

# Set this to the name or IP address of the Tableau Server installation.
# internal address : is the internal interface of Tableau Server to be used to call Tableau REST API
tableau.server.host=http://10.30.25.166
# public address : is the public interface of Tableau Service to be used as a link from web apps
tableau.server.host.weblink=https%3A%2F%2Fhorizonbi.ocs-support.com

# Set where the REST API schema is located
# The latest schema can be downloaded from here:
# http://onlinehelp.tableau.com/current/api/rest_api/en-us/help.htm#REST/rest_api_concepts_schema.htm
tableau.server.schema.location=tableau/ts-api_3_1.xsd
tableau.server.version=3.1

# Set the username and password of admin user and name for webapp user
tableau.user.admin.name=biCoE
tableau.user.admin.password=sicpa2018.
tableau.user.interactor.name=WebappUser


# Set this to the content URL of the default site.
tableau.site.name = {{provision.horizon_bi.env}}

tableau.project.name = horizon
tableau.project.description = horizon tableau project

# Set the name and path of the workbook to publish
tableau.workbook.name=Horizon_Reports
tableau.workbook.path=tableau/Horizon_reports.twbx

# Set whether the workbook should be published in chunks or not
tableau.workbook.publish.chunked=false

tableau.group.name=Horizon_Supervisors
 
tableau.schedule.name=Horizon Daily Schedule
tableau.schedule.type=Extract
tableau.schedule.frequency=Daily

#Masterdata
horizon.services.user=admin
horizon.services.password=1234
horizon.services.url=http://localhost/services

#Reports
tableau.reports.productScansReport=ProductScansReport-webapp
tableau.reports.inspectionPerformanceReport=InspectionPerformanceReport-webapp
tableau.reports.scansReport=ScansReport-webapp
tableau.reports.issuesReport=IssuesReport-webapp
tableau.reports.scanLocationReport=ScanLocationReport-webapp
