## Command Aliases
## These are groups of related commands...

## Networking
Cmnd_Alias NETWORKING = /sbin/route, /sbin/ifconfig, /bin/ping, /usr/bin/net, /sbin/iptables, /usr/bin/nmap

## Services
Cmnd_Alias SERVICES = /sbin/service, /sbin/chkconfig

## mount
Cmnd_Alias MOUNT = /bin/mount, /bin/umount

## Become root
Cmnd_Alias SUPERUSER = /usr/local/bin/rootsh

## Become jboss
Cmnd_Alias SUJBOSS = /usr/local/bin/rootsh -u jboss

## Restart jboss
Cmnd_Alias JBOSSRESTART = /etc/init.d/jboss, /usr/bin/pkill -9 jboss, /usr/bin/pkill -9 java

## Run mysql as root
Cmnd_Alias MYSQL = /usr/bin/mysql

## Become oracle
Cmnd_Alias SUORACLE = /usr/local/bin/rootsh -u oracle

## NRPE - Multipath
Cmnd_Alias NGMPATH = /sbin/multipath

## Nagios - nmap scan
Cmnd_Alias NMAP = /usr/bin/nmap

## OMD
Cmnd_Alias OMD = /usr/bin/omd, /etc/init.d/omd

## Splunk
Cmnd_Alias SPLUNK = /etc/init.d/splunk
## Same thing without a password
%wheel	ALL=(ALL)	NOPASSWD: ALL

## Sys admins
%{{ project }}-wheel ALL=(ALL) NOPASSWD: SUPERUSER

%{{ project }}-monitoring ALL=(ALL) NOPASSWD: SUPERUSER
## App admins
%{{ project }}-app-admin ALL = NOPASSWD: SUJBOSS, JBOSSRESTART, SERVICES, MOUNT, MYSQL

## App support
%{{ project }}-app-support ALL = NOPASSWD: JBOSSRESTART

## Db admins
%{{ project }}-db-admin ALL = NOPASSWD: SUORACLE, SERVICES

## Net admins
%{{ project }}-net-admin ALL = NOPASSWD: NETWORKING

## Monitoring Admins
%{{ project }}-monitoring ALL = NOPASSWD: OMD,SPLUNK
## NRPE - SUDO 
nrpe	ALL = NOPASSWD: NGMPATH

## NAGIOS - SUDO
nagios	ALL = NOPASSWD: NMAP
